/* #mainLogo
{
   width: 500px;
   height: 100px;
} */

#login, 
#signup{
    background-color: white;
    padding: 20px ;
    text-align: center;
    color: darkgray;
    font-size: 28px;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#login:hover, 
#signup:hover{
    background-color: rgb(242, 242, 242); 
    cursor: pointer;
    content: '\00bb';
    opacity: 1;
    right: 0;

}
#logoRow{
    padding-top: 200px;
    display: flex;
    justify-content: center;
}
#buttonsRow{
    padding-top: 100px;
}

#lbuttonRow{
    display: flex;
    justify-content: center;
}
#links-splash-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edesialoginError{
    color: red;
}

#show-meals-text{
    cursor: pointer;
    color: white;
    margin-top: 50px;
}

#right-col{
    background-color: white;
}

card{
    border:none;
    margin-top: 50px;
    color: red;
}
.card-body{
    padding-top: 5px;
}
.splash-meal-img{
    padding-top: 5px;
}
#meal-row{
    border-top: solid 1px lightgray;
}
#right-arrows{
    color: red;
}
.time-avail-text{
    color: #FF8C00;
    margin-bottom: 0px;
}
#browse-option-splash{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    padding-top: 3px;
    margin-bottom: 0px;
    font-weight: bold;
    color: #FF8C00 !important;
   
}
#purchase-row1{
    padding-top: 50px;
}
#login-title, 
#login-form{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
#login-button{
    margin: 20px;
}